:root {
	--light-green: #83f3bf;
	--primary-green: #41b883;
	--dark-green: #166d46;

	--text-light: #e4ecf5;
	--text-gray: #585858;
	--text-dark: #2c3e50;
}

.wrapper {
	padding: 2rem;
}

.wrapper form {
	margin: auto;
	padding: 2rem;
	border-radius: 1rem;

	max-width: 24rem;

	text-align: center;

	box-shadow: 0 0 1rem 0 #0001;
}
.wrapper form .text {
	margin-top: 1rem;
	font-size: 0.8125rem;

	word-wrap: break-word;
}

.wrapper form .text a:hover {
	text-decoration: underline;
}

.error {
	font-size: 0.875rem;
	color: #f36a52;
}
.form-control {
	margin: 1rem;
}

.form-control label {
	margin-left: 0.25rem;
	margin-bottom: 0.25rem;

	display: block;

	text-align: start;
}

.form-control input {
	padding: 0.5rem;
	border: 2px solid transparent;
	border-bottom-color: var(--primary-green);

	width: 100%;

	display: block;

	transition: all 0.2s;
}

.form-control input:focus {
	outline: none;

	border: 2px solid var(--primary-green);
}

button[type='submit'] {
	padding: 0.75rem 1.5rem;
	border: solid 2px var(--primary-green);
	border-radius: 2rem;

	background-color: transparent;

	font-size: 1rem;
	font-weight: bold;
	color: var(--text-dark);

	cursor: pointer;

	transition: all 0.2s;
}
button[type='submit'][disabled] {
	border: solid 2px var(--text-light);

	background-color: var(--text-light);

	cursor: default;
}

button[type='submit']:not([disabled]):hover {
	background-color: var(--light-green);
	border-color: var(--light-green);
}

button[type='submit']:not([disabled]):active {
	background-color: var(--primary-green);
}

button[type='submit']:not([disabled]):focus {
	outline: none;
	box-shadow: 0 0 0 0.25rem var(--light-green);
}

.message {
	font-size: 0.875rem;
	color: var(--text-gray);
}
